@layout('layouts/main')

@section('content')
  <div>
    <label>
      Email:
    </label>
    <span>
      {{ user.email }}
    </span>



    <img src="{{ route('files.show', { id: user.coverId }) }}" />


  </div>
  @if(auth.user == user)
  <div>
    @form.button({ href: route('users.update')})
      Atualizar Perfil
    @end

  </div>
  @end
@end
