@layout('layouts/main')

@section('content')

  <div class="flex w-full max-w-7xl mx-auto">
    <div class="flex flex-col gap-6 mt-10">
      <div class="text-7xl font-semibold text-primary-900">
        Não seja curioso
      </div>
      <p class="text-sm text-primary-700">
        A curiosidade matou o gato!!
      </p>
      <div>
        @form.button({ href: '/' })
          Você vai ser curioso com esse botão ? Lembre-se do gato
        @end
      </div>
    </div>
  </div>

@end
